<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Basic configuration</title>

        <input-field type="single-select">
            <name>nodeSettings</name>
            <label>Node settings</label>
            <defaultValue>main</defaultValue>
            <options>
                <option>
                    <id>main</id>
                    <name>MainNet</name>
                </option>
                <option>
                    <id>test</id>
                    <name>TestNet</name>
                </option>
            </options>
        </input-field>

        <input-field type="single-select">
            <name>rateConvertApi</name>
            <label>Rate Conversion API</label>
            <defaultValue>binance</defaultValue>
            <options>
                <option>
                    <id>binance</id>
                    <name>Binance</name>
                </option>
            </options>
        </input-field>

        <input-field>
            <name>walletAddress</name>
            <label>Algorand Wallet Address</label>
        </input-field>
    </card>
</config>
